Makefile
config.log
config.status
cubicles/.deps/
cubicles/Makefile
handvu/.deps/
handvu/Makefile
hv_DXApp/Makefile
hv_DXFilter/Makefile
hv_OpenCV/.deps/
hv_OpenCV/Makefile
hvconfig.h
lib/
libtool
stamp-h1

cubicles/.libs/
hv_OpenCV/.libs/
hv_OpenCV/hvOpenCV
*.o
*.lo
